body {
	font: caption;
}

table {
	border-collapse: collapse;
}

thead {
	font-weight: bold;
}

td {
	padding:2px 3px;
	line-height: 1.5;
	xwhite-space: nowrap;
}

td:nth-child(2), td:nth-child(3), td:nth-child(4), button {
	text-align: center;
}

#clear {
	position: fixed;
	right: 0;
	bottom: 0;
}

td:first-child {
	white-space: initial;
	word-break: break-all;
}

tbody tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.1);
}

tbody td:first-child {
	cursor: help;
}

[data-theme=dark] {
	color: #bbb;
}

[data-theme=dark] tbody tr:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.1);
}

.error {
	color: red;
}
