body {
	font: message-box;
}

table {
	border-collapse: collapse;
}

thead {
	font-weight: bold;
}

td {
	padding:2px 3px;
	line-height: 1.5;
	white-space: nowrap;
}

td:nth-child(2), td:nth-child(3), td:nth-child(4), button {
	text-align: center;
}

#clear {
	position: fixed;
	right: 0;
	bottom: 0;
}

td:first-child {
	white-space: initial;
	word-break: break-all;
}

tbody tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.1);
}